body {
    font-family: "Manrope", sans-serif;
}


.all-section {
    margin: 50px 200px;
    border: 2px solid red;
}



/* section-1 */
.section-1-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1-1-1 h1 {
    font-size: 80px;
}

.section-1-1-1 p {
    font-size: 20px;
}

.btn-1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(to right, #FF8938, #FF0000);
    padding: 18px 25px;
    border-radius: 10px;
    border: none;
}

.btn-2 {
    padding: 8px 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    background-color: #ffdcc5;
}

.section-1-img {
    position: relative;
}

.section-1-rating {
    position: absolute;
    top: 400px;
    right: 400px;
}





/* section-2 */
.section-2 {
    margin-top: 200px;

}

.section-2-1 {
    border: 2px solid rgb(34, 168, 0);
    text-align: center;
    margin: 0px 200px;
}

.section-2-1 h1 {
    font-size: 45px;

}

.section-2-1 p {
    font-size: 20px;
    font-weight: 500;
}



/* section-3 */

.section-3 {
    margin-top: 50px;
    margin-bottom: 150px;
}

.section-3-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.section-3-1-1 {
    border: 2px solid rgb(42, 0, 231);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-color: #F4F4F4;
}

.section-3-1-1 h3 {
    font-size: 25px;
    font-weight: 800;
}

.section-3-1-1 p {
    font-size: 16px;
    font-weight: 600;
}














@media screen and (max-width:400px) {
    .all-section {
        margin: 16px;
        border: 2px solid red;
    }



    /* section-1 */
    .section-1-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        text-align: center;
    }

    .section-1-1-1 h1 {
        font-size: 40px;
        text-align: justify;
    }

    .section-1-1-1 p {
        font-size: 14px;
    }

    .btn-1 {
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-image: linear-gradient(to right, #FF8938, #FF0000);
        padding: 14px 20px;
        border-radius: 8px;
        border: none;
    }

    .btn-2 {
        padding: 5px 30px;
        border: none;
        border-radius: 10px;
        font-size: .8rem;
        background-color: #ffdcc5;
        text-align: left;
    }

    .section-1-img {
        position: relative;
    }

    .section-1-rating {
        position: absolute;
        top: 575px;
        right: 150px;
    }

    .section-1-img img {
        width: 100%;
        margin-top: 50px;
    }



    /* section-2 */
    .section-2 {
        margin-top: 50px;
    }

    .section-2-1 {
        border: 2px solid rgb(34, 168, 0);
        text-align: center;
        margin: 16px;
    }

    .section-2-1 h1 {
        font-size: 32px;

    }

    .section-2-1 p {
        font-size: 14px;
    }



    /* section-3 */

    .section-3 {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .section-3-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .section-3-1-1 {
        border: 2px solid rgb(42, 0, 231);
        border-radius: 10px;
        padding: 30px;
        margin: 0px 20px;
        text-align: center;
        background-color: #F4F4F4;
    }

    .section-3-1-1 h3 {
        font-size: 20px;
        font-weight: 800;
    }

    .section-3-1-1 p {
        font-size: 14px;
        font-weight: 600;
    }
















}